Repository bootscore/bootscore, pull requests merged in 2023-04, with the labels that each got.

#439 Add bootscore_container_class() function
  404.php
  archive.php
  footer.php
  header-woocommerce.php
  header.php
  inc/template-functions.php
  index.php
  page-templates/page-blank-with-container.php
  page-templates/page-full-width-image.php
  page-templates/page-sidebar-left.php
  page-templates/page-sidebar-none.php
  page.php
  search.php
  single-templates/single-full-width-image.php
  single-templates/single-sidebar-left.php
  single-templates/single-sidebar-none.php
  single.php
  woocommerce.php
  woocommerce/single-product/tabs/tabs.php
Labels: documentation, feature, functions

#449 Add 2 more widget areas and improve existing ones
  footer.php
  functions.php
  header-woocommerce.php
  header.php
  js/theme.js
  scss/bootscore/_widgets.scss
  sidebar.php
Labels: documentation

#456 Fix checkout payment checks & radios
  scss/bootscore_woocommerce/_wc_checkout.scss
Labels: WooCommerce

#465 Fix bootscore_category() failing to output categories
  inc/template-tags.php
Labels: bug
