Repository bootscore/bootscore, pull requests merged in 2023-01, with the labels that each got.

#331 Update WC 7.2.1 quantity input.php
  woocommerce/global/quantity-input.php
Labels: WooCommerce

#344 Add show-password to all pages in user offcanvas
  scss/_bscore_woocommerce.scss
  scss/bootscore_woocommerce/_wc_my_account_offcanvas.scss
  woocommerce/myaccount/my-account-offcanvas.php
Labels: WooCommerce

#329 Refactor offcanvas cart
  header-woocommerce.php
  languages/bootscore.pot
  languages/de_DE.mo
  languages/de_DE.po
  languages/de_DE_formal.mo
  languages/de_DE_formal.po
  scss/_bscore_woocommerce.scss
  scss/bootscore_woocommerce/_wc_ajax_cart.scss
  scss/bootscore_woocommerce/_wc_offcanvas_cart.scss
  scss/bootscore_woocommerce/_wc_product.scss
  woocommerce/ajax-cart/ajax-add-to-cart.php
  woocommerce/js/woocommerce.js
Labels: documentation, feature, WooCommerce

#372 Remove Woo notice templates
  scss/bootscore_woocommerce/_wc_ajax_cart.scss
  scss/bootscore_woocommerce/_wc_alerts.scss
  woocommerce/checkout/form-checkout.php
  woocommerce/checkout/form-coupon.php
  woocommerce/checkout/payment.php
  woocommerce/loop/no-products-found.php
  woocommerce/myaccount/downloads.php
  woocommerce/myaccount/form-add-payment-method.php
  woocommerce/myaccount/orders.php
  woocommerce/myaccount/payment-methods.php
  woocommerce/notices/error.php
  woocommerce/notices/notice.php
  woocommerce/notices/success.php
  woocommerce/woocommerce-functions.php
Labels: WooCommerce

#375 Add more control over scss compiler
  inc/scss-compiler.php
Labels: documentation, scss
