Repository bootscore/bootscore, pull requests merged in 2024-03, with the labels that each got.

#713 Enable/disable ajax cart based on Woo settings and added a filter to …
  woocommerce/wc-functions.php
Labels: documentation, ajax cart

#726 Replaced `my-account-offcanvas.php` with `my-account.php` in user offcanvas
  assets/scss/bootscore-woocommerce/_wc-my-account-offcanvas.scss
  template-parts/header/actions-woocommerce.php
  template-parts/header/offcanvas-woocommerce.php
  woocommerce.php
  woocommerce/myaccount/my-account-offcanvas.php
  woocommerce/myaccount/navigation.php
Labels: WooCommerce

#737 Fix: Tax include and exclude subtotal in WC Mini Cart.
  woocommerce/cart/mini-cart.php
  woocommerce/inc/ajax-cart.php
Labels: WooCommerce

#741 Added skip-to-content link
  header.php
Labels: accessibility
