Repository bootscore/bootscore, pull requests merged in 2025-01, with the labels that each got.

#923 Add a skip to footer link [Feature Request] #916
  footer.php
  header.php
Labels: accessibility

#926 Revert #919
  woocommerce/inc/wc-forms.php
Labels: bug, WooCommerce

#905 Update WC 9.6 templates and improve comments
  assets/scss/bootscore-woocommerce/_wc-comments.scss
  assets/scss/bootscore/_comments.scss
  inc/comments.php
  woocommerce/single-product-reviews.php
  woocommerce/single-product/review.php
  woocommerce/single-product/tabs/tabs.php
Labels: WooCommerce

#939 Remove WC templates which will be updated with WC 9.7 and use filters and actions
  woocommerce/inc/wc-result-count.php
  woocommerce/inc/wc-single-product-reviews.php
  woocommerce/loop/orderby.php
  woocommerce/loop/result-count.php
  woocommerce/single-product-reviews.php
  woocommerce/wc-functions.php
Labels: WooCommerce

#936 aria-label for hamburger menù
  footer.php
  functions.php
  header.php
  inc/tinymce-editor.php
  searchform.php
  template-parts/header/actions-woocommerce.php
  template-parts/header/actions.php
  template-parts/header/offcanvas-woocommerce.php
Labels: accessibility
