Repository bootscore/bootscore, pull requests merged in 2025-04, with the labels that each got.

#1007 Fix WC 9.8 star and password icons color
  assets/scss/bootscore-woocommerce/_wc-colors.scss
  assets/scss/bootscore-woocommerce/_wc-deprecated.scss
  assets/scss/bootscore-woocommerce/_wc-forms.scss
Labels: WooCommerce

#1010 Feature/ajax login
  assets/scss/bootscore-woocommerce/_wc-my-account-offcanvas.scss
  languages/bootscore-de_DE-3ecd4b788869dfd5179f883cd441aebb.json
  languages/bootscore.pot
  languages/de_DE.l10n.php
  languages/de_DE.mo
  languages/de_DE.po
  languages/de_DE_formal.mo
  languages/de_DE_formal.po
  template-parts/header/offcanvas-woocommerce.php
  woocommerce/inc/wc-ajax-login.php
  woocommerce/inc/wc-enqueue.php
  woocommerce/js/ajax-login.js
  woocommerce/wc-functions.php
Labels: documentation, feature, WooCommerce

#977 Refactor blocks and patterns
  assets/scss/_bootscore-style.scss
  assets/scss/bootscore/_deprecated.scss
  assets/scss/bootscore/blocks/_block-patterns.scss
  functions.php
  inc/blocks/block-buttons.php
  inc/blocks/block-quote.php
  inc/blocks/disable-unsupported-blocks-01-blacklist.php
  inc/blocks/disable-unsupported-blocks.php
  inc/blocks/patterns.php
  inc/theme-setup.php
  patterns/alert-danger.php
  patterns/alert-info.php
  patterns/btn-danger-lg.php
  patterns/btn-outline-secondary-sm.php
  patterns/btn-primary.php
  patterns/c.alert-danger.php
  patterns/c.alert-info.php
  patterns/c.btn-danger-lg.php
  patterns/c.btn-outline-secondary-sm.php
  patterns/c.btn-primary.php
  patterns/c.card-basic.php
  patterns/c.card-header-footer.php
  patterns/c.card-widget-categories.php
  patterns/c.cards-pricing.php
  patterns/c.hero-img-left.php
  patterns/c.hero-img-right.php
  patterns/c.hero-jumbotron.php
  patterns/card-advanced.php
  patterns/card-basic.php
  patterns/card-categories.php
  patterns/cards-pricing.php
  patterns/container.php
  patterns/grid-col-3.php
  patterns/grid-col-4-col-8.php
  patterns/grid-col-6.php
  patterns/grid-col-8-col-4.php
  patterns/hero-img-left.php
  patterns/hero-img-right.php
  patterns/hero-jumbotron.php
  patterns/l.container.php
  patterns/l.grid-col-3.php
  patterns/l.grid-col-4-col-8.php
  patterns/l.grid-col-6.php
  patterns/l.grid-col-8-col-4.php
  patterns/s.heading-subtitle.php
  patterns/s.hero-img-left.php
  patterns/s.hero-img-right.php
  patterns/s.hero-jumbotron.php
  patterns/section-heading-subtitle.php
  patterns/section-hero-img-left.php
  patterns/section-hero-img-right.php
  patterns/section-hero-jumbotron.php
Labels: documentation
